mixin accountSection
    div.account-left
        span custom care:
        | 888-23-4567
    div.account-right
        div.search
            input(type='text')
        div.account-page-link
            a(href='#') my account
        div.currency-switcher
            ul.menu
                li.list_menu: a.down(href="#") $ US
                    ul.menu_drop
                        li: a(href="#") $ EU
                        li: a(href="#") $ GR
                        li: a(href="#") $ RU

//SLIDER HOME
mixin sliderHome
    div.jcarousel-wrapper
        div.jcarousel
            ul
                li
                    div.product-wraper
                        div.product
                            div.link
                                a(href="#") shop it
                            div.image
                                div.label: img(src="images/label.png")
                                img(src="/images/slide-img1.png")
                            div.title
                                h3: a(href="#") MIMOSA LACE DRESS
                            div.price: span $76.95
                            div.cart
                                button Add to cart
                                    i.fa.fa-plus
                li
                    div.product-wraper
                        div.product
                            div.link
                                a(href="#") shop it
                            div.image
                                img(src="/images/slide-img2.png")
                            div.title
                                h3: a(href="#") FEEL TANKS
                            div.price: span $59.95
                            div.cart
                                button Add to cart
                                    i.fa.fa-plus
                li
                    div.product-wraper
                        div.product
                            div.link
                                a(href="#") shop it
                            div.image
                                div.label: img(src="images/label.png")
                                img(src="/images/slide-img3.png")
                            div.title
                                h3: a(href="#") HOT SHORTS
                            div.price: span $35.95
                            div.cart
                                button Add to cart
                li
                    div.product-wraper
                        div.product
                            div.link
                                a(href="#") shop it
                            div.image
                                img(src="/images/slide-img2.png")
                            div.title
                                h3: a(href="#") PETROL SWEATER
                            div.price: span $21.55
                            div.cart
                                button Add to cart
                                    i.fa.fa-plus
                li
                    div.product-wraper
                        div.product
                            div.link
                                a(href="#") shop it
                            div.image
                                div.label: img(src="images/label.png")
                                img(src="/images/slide-img1.png")
                            div.title
                                h3: a(href="#") MIMOSA LACE DRESS
                            div.price: span $76.95
                            div.cart
                                button Add to cart
                                    i.fa.fa-plus
                li
                    div.product-wraper
                        div.product
                            div.link
                                a(href="#") shop it
                            div.image
                                img(src="/images/slide-img3.png")
                            div.title
                                h3: a(href="#") MIMOSA LACE DRESS
                            div.price: span $76.95
                            div.cart
                                button Add to cart
                                    i.fa.fa-plus

        a.jcarousel-control-prev.active(href="#") &lsaquo;
        a.jcarousel-control-next(href="#") &rsaquo;

//DISCOUNT
mixin disccountProducts
    div.top-discount
        img(src="/images/discount.png")
    div.discount-products
        div
            a(href="#")
                img(src="images/discount-img1.png")
        div
            a(href="#")
                img(src="images/discount-img2.png")
        div
            a(href="#")
                img(src="images/discount-img3.png")
        div
            a(href="#")
                img(src="images/discount-img4.png")



//FOOTER TOP
mixin footerTop
    div.footer-top
        div.customer
            h4 Customer Service
            a(href="#") Contact
            a(href="#") FAQ
            a(href="#") Terms of payment
            a(href="#") Terms of sale
            a(href="#") Returns and Refunds
            a(href="#") Delivery terms and conditions
        div.information
            h4 Information
            a(href="#") Affiliate
            a(href="#") Cookies
            a(href="#") How to Shop
            a(href="#") About Nelly
            a(href="#") Investor relations
        div.campaigns
            h4 Campaigns
            a(href="#") Evening dresses
            a(href="#") Makeup
            a(href="#") Fashion forward
            a(href="#") training clothes
            a(href="#") Special Occasion Dresses
        div.stores
            h4 Stores
            a(href="#") Paris
            a(href="#") New York
            a(href="#") London
            a(href="#") Madrid
            a(href="#") Tokio
        div.social-footer
            h4 Social
            a.fa.fa-twitter(href="#" target="_blank")
            a.fa.fa-pinterest(href="#" target="_blank")
            a.fa.fa-facebook(href="#" target="_blank")
            br
            a.fa.fa-google-plus(href="#" target="_blank")
            a.fa.fa-tumblr(href="#" target="_blank")
            a.fa.fa-vimeo(href="#" target="_blank")
        div.secured
            img(src="/images/secured.png")
//FOOTER BOTTOM
mixin footerBottom
    div.bottom-left
        a(href="#") Privacy & Cookies
        a(href="#") Terms & Conditions
        a(href="#") Accessibility
        a(href="#") Store Directory
        a(href="#") About us
    div.bottom-right
        p.
            © LookShop.com
            All Rights Reserved