.about_shop {
  height: 150px;
  h2 {
    margin-top: 20px;
    font-family: Arial;
    color: #414141;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.24px;
    text-align: center;
  }
  h3 {
    height: 70px;
    width: 971px;
    margin: 20px auto;
    font-family: Arial;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }
}