.accept_card {
  background-color: #f7f7f7;
  width: 1200px;
  height: 58px;
  line-height: 58px;
  h2 {

    font-family: Arial;
    color: #414141;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.12px;
    text-align: center;
  }
  img {
    margin-left: 20px;
  }
}