.home-carousel {
  height: 510px;
  .jcarousel-full {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 440px;
    ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 440px;
      li {
        float: left;
        height: 440px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        .slide {
          display: block;
          max-width: 100%;
          position: relative;
          height: 440px;
          .image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 440px;
            z-index: 1;
            a {
              display: block;
              width: 100%;
              height: 400px;
              text-decoration: none;
              img {
                width: 100%;
              }
            }
          }
          .main-width {
            position: relative;
            z-index: 100;
            a {
              img {
                margin-top: 30px;
              }
            }
          }
        }
      }
    }
  }

  .jcarousel-control-prev,
  .jcarousel-control-next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 117px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    margin-top: -100px;
    z-index: 200;
  }

  .jcarousel-control-prev {
    left: 0;
    background: rgba(255, 255, 255, 0.9) url("/images/arrow-left.png") no-repeat 50% 50%;
  }

  .jcarousel-control-next {
    right: 0;
    background: rgba(255, 255, 255, 0.9) url("/images/arrow-right.png") no-repeat 50% 50%;
  }

  .jcarousel-control-prev:hover span,
  .jcarousel-control-next:hover span {
    display: block;
  }

  .jcarousel-control-prev.inactive,
  .jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
  }

  .jcarousel-pagination {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }

  .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    background: #867a76;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 20px 0 0;
  }

  .jcarousel-pagination a.active {
    background: #fd926d;
  }

}