.discount{
  height: 566px;

  .top-discount{
    position: relative;
    top: 13px;
  }
  .discount-products{
    position: relative;
    top: 20px;

    div{

      width: 230px;
      display: inline-block;
      margin-left: 20px;
      &:first-child{
        float: left;
        margin: 0;
      }
      &:last-child{
        float: right;
        margin: 0;
      }
    }
  }
}
