.look-shop {
  margin-bottom: 35px;
  .look-shop-title {
    font-family: Arial;
    color: #414141;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.24px;
    text-align: center;
    padding: 0 0 20px 0;
  }

  .look-shop-text {
    font-family: Arial;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }
}