.product-wrapper {
  width: 220px;
  height: 395px;
  padding: 10px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  .product {
    position: relative;
    background: #f7f7f7;
    .link {
      opacity: 0;
      position: absolute;
      width: 134px;
      height: 134px;
      border-radius: 134px;
      left: 50%;
      top: 100px;
      margin-left: -67px;
      background-color: #3d3d3d;
      background-image: url("../images/link_bye.png");
      background-repeat: no-repeat;
      background-position: center 40%;
      z-index: 1000;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      a {
        display: block;
        width: 100%;
        border-radius: 134px;
        height: 100%;
        font-family: Arial;
        color: white;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.12px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 165px;
      }
    }
    .image {
      position: relative;
      height: 294px;
      overflow: hidden;
      img {
        width: 100%;
        height: 294px;
      }
      .label {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0;
        top: 0;
      }
    }
    .title {
      h3 {
        a {
          font-family: Arial;
          color: #373737;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: -0.12px;
          text-align: center;
          text-transform: uppercase;
          margin: 8px 0 8px 0;
          text-decoration: none;
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
        }
      }
    }
    .price {
      font-family: Arial;
      color: #373737;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: -0.22px;
      text-align: center;
    }
    .cart {
      text-align: center;
      button {
        width: 120px;
        color: white;
        height: 27px;
        background-color: #fd926d;
        cursor: pointer;
        border: none;
        border-bottom: 2px solid #dd6b44;
        text-transform: uppercase;
        text-align: center;
        line-height: 27px;
        margin: 10px 0 10px 0;
        i {
          margin-left: 5px;
        }
      }
    }
  }
  &:hover {
    padding: 0;
    width: 240px;
    height: 415px;
    .product {
      height: 100%;
      .link {
        opacity: 1;
      }
      .title {
        h3 {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}