//JCAROUSEL
.jcarousel-wrapper{
  position: relative;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  background:#fd926d ;
  .jcarousel{
    position: relative;
    overflow: hidden;
    width: 100%;
    ul{
      width: 20000em;
      list-style: none;
      position: relative;
      margin: 0;
      padding: 0;
      li{
        float: left;
        position: relative;
        width: 240px !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        img{
          display: block;
          max-width: 100%;
          height: auto !important;
        }
      }
    }
  }
}


.product-wraper {
  width: 220px;
  height: 395px;
  padding: 10px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  .product {
    position: relative;
    background: #f7f7f7;
    .link {
      opacity: 0;
      position: absolute;
      width: 134px;
      height: 134px;
      border-radius: 134px;
      left: 50%;
      top: 100px;
      margin-left: -67px;
      background: url("/images/link.png") #3d3d3d no-repeat center 40% ;
      z-index: 1000;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      a {
        display: block;
        width: 100%;
        border-radius: 134px;
        height: 100%;
        color: white;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.12px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 165px;
      }
    }
    .image {
      position: relative;
      height: 294px;
      overflow: hidden;
      img {
        width: 100%;
        height: 294px;
      }
      .label {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0;
        top: 0;
      }
    }
    .title {
      text-align: center;
      h3 {
        a {
          color: #373737;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: -0.12px;
          text-transform: uppercase;
          margin: 8px 0 8px 0;
          text-decoration: none;
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
        }
      }
    }
    .price {

      color: #373737;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: -0.22px;
      text-align: center;
    }
    .cart {
      text-align: center;
      button {
        width: 120px;
        color: white;
        height: 27px;
        background-color: #fd926d;
        cursor: pointer;
        border: none;
        border-bottom: 2px solid #dd6b44;
        text-transform: uppercase;
        text-align: center;
        line-height: 27px;
        margin: 10px 0 10px 0;
        i {
          margin-left: 5px;
        }
      }
    }
  }
  &:hover {
    padding: 0;
    width: 240px;
    height: 415px;
    .product {
      height: 100%;
      .link {
        opacity: 1;
      }
      .title {
        h3 {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}