.carousel {
  height: 510px;
  .jcarousel-wrapper {
    position: relative;
    width: 100%;
    .jcarousel {
      position: relative;
      overflow: hidden;
      height: 440px;
      width: 100%;
      ul {
        width: 20000em;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          float: left;
          img {
            display: block;
            width: 100%;
            height: auto !important;
          }
        }
      }
    }

    a.jcarousel-control-prev,
    a.jcarousel-control-next {
      position: absolute;
      top: 161px;
      width: 30px;
      height: 117px;
      text-align: center;
      background: rgba(255, 255, 255, 0.9);
      text-decoration: none;
    }

    a.jcarousel-control-prev {
      left: 0;
      background: rgba(255, 255, 255, 0.9) url("../images/arrow-left.png") no-repeat 50% 50%;
    }

    a.jcarousel-control-next {
      right: 0;
      background: rgba(255, 255, 255, 0.9) url("../images/arrow-right.png") no-repeat 50% 50%;
    }


    .jcarousel-pagination {
      display: block;
      margin: 0 auto;
      text-align: center;
      margin-top: 24px;
      a {
        text-decoration: none;
        display: inline-block;
        background: #867a76;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin-right: 20px;
        &.active {
          background-color: #fd926d;
        }
      }
    }
  }
}