.wrapper {

  .jcarousel {
    position: relative;
    overflow: hidden;
    height: 440px;
    margin: 0 auto;
    width: 1200px;
    ul {
      width: 20000em;
      position: absolute;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        }
      }
    }

  .jcarousel-prev {
    position: relative;
    float: left;
    a {
      background-color:  rgba(255, 255, 255, 0.9);
      position: relative;
      width: 30px;
      height: 117px;
    }
  }

  .jcarousel-next {
    position: relative;
    float: right;
    a {
      background-color:  rgba(255, 255, 255, 0.9);
      position: relative;
      width: 30px;
      height: 117px;
    }
  }



  .jcarousel-pagination {
    margin: 0 auto;
    display: block;
      a {
        margin: 5px;
        display: inline-block;
        text-decoration: none;
        border-radius: 50%;
        background-color:  #867a76;
        width: 10px;
        height: 10px;
          &.active {
            background-color:  #fd926d;
          }
      }
    }
}
