.subscription {
  background-color: #ededed;
  height: 55px;
  line-height: 55px;
  .subscription-left {
    float: left;
    width: 48%;
    form {
      label {
        cursor: pointer;
        font-family: Arial;
        color: #6b6b6b;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.06px;
        input {
          height: 28px;
          line-height: 28px;
          border: none;
          border-radius: 0;
          font-family: Arial;
          font-size: 12px;
          font-style: italic;
          letter-spacing: -0.06px;
          text-indent: 8px;
          &:focus {
            font-style: normal;
          }
        }
      }
      button {
        color: white;
        height: 27px;
        width: 28px;
        border: none;
        background: #fd926d;
        border-bottom: 2px solid #dd6b44;
        cursor: pointer;
        position: relative;
        left: -2px;
      }
    }
  }
  .subscription-right {
    float: right;
    width: 48%;
    text-align: right;
    span {
      font-family: Arial;
      color: #6c6c6c;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.06px;
      margin-right: 15px;
    }
    a {
      display: inline-block;
      height: 55px;
      width: 55px;
      text-align: center;
      font-size: 18px;
      color: #6b6b6b;
      &:nth-child(even) {
        background: #f7f7f7;
      }
    }
  }
}