mixin product(image, title, price, label)
    div.product
        div.image
            if(label)
                span label
            img(src=image)
        div.title
            h3= title
        div.price
            span= price
//- Use
+product('/images/i.png', 'Product 1', '55', true)
+product('/images/i2.png', 'Product 2', '60', false)
+product('/images/i3.png', 'Product 3', '65', false)
