extends ./layouts/main.jade
block content
    main
        section.full-width.account-section
            div.main-width
                +accountSection
        div.clearfix
        section.full-width.header-section
            header.header-width
                div.logo
                    a(href="index.html")
                        img(src="/images/logo.png")
                div.nav-menu
                    ul
                        li: a(href="#") new
                        li: a(href="#") designers
                        li: a(href="#") women
                        li: a(href="#") men
                        li: a(href="#") clearence
                div.my-purchases
                    div.block.left
                        div.block.cart
                            | Your cart
                            span.triangle-down
                        div.basket
                            span items  |  $ 0
        div.clearfix
        section.full-width.slide-section
          div.slide-width
              div#jcarousel
                  input#slide1(type="radio" name="slides" checked)
                  input#slide2(type="radio" name="slides")
                  input#slide3(type="radio" name="slides")
                  input#slide4(type="radio" name="slides")
                  input#slide5(type="radio" name="slides")
                  //SLIDE
                  div.carousel-inner
                      div.item
                          div.primary-slide
                              div.left-container
                                  div.left-content
                                      h2 Crazy
                                      div.images-content
                                          img(src="/images/left-slide.png")
                                      h1 WOMAN COLLECTION
                                      button.btn
                                       |SHOP NOW
                                       span.triangle-right
                              div.right-container
                      div.item
                      div.item
                      div.item
                      div.item
                      //CONTROL SLIDE
              div.slide-controls
                label(for="slide1")
                label(for="slide2")
                label(for="slide3")
                label(for="slide4")
                label(for="slide5")
        div.clearfix
        section.full-width.section-autorization
          div.main-width
              div.form
                  label
                    |Stay update
                    input(type="email" placeholder="Your email address")
                  button.btn-large
                    span.cross

              div.social
                  p Find us here
                  a(href="https://www.facebook.com")
                    img(src="/images/facebook.png")
                  a(href="https://twitter.com/?lang=ru")
                    img(src="/images/twiter.png")
                  a.layer(href="#")
                    img(src="/images/layer.png")
        div.clearfix
        section.full-width.foto-gallery
          div.main-width
              div.center
                  div.gallery-left
                      h3 BEST
                      h2 outfits
                      span &
                      h1 look

                  div.gallery-right
                      div.party
                          img(src="/images/tag.png")

                      div.bottom-gallery
                          div.best-sellers
                              button
                                  | best seller
                                  span.chevron-right
                          div.fail-leather
                              button shop now
                                i.fa.fa-caret-right
        div.clearfix
        section.full-width.product-carousel#tabs
          div.main-width
              div
                  ul
                      li.ui-state-active
                          a(href="#tabs-1") what’s hot?
                      li
                          a(href="#tabs-2") designers
                      li
                          a(href="#tabs-3") featured
                      li
                          a(href="#tabs-4") latest
          section.full-width.product-blocks
              div#tabs-1
                  +sliderHome
              div#tabs-2
                  +sliderHome
              div#tabs-3
                  +sliderHome
              div#tabs-4
                  +sliderHome
        div.clearfix
        section.full-width.discount
          div.main-width
              +disccountProducts
        div.clearfix
        section.full-width.brand-block
            div.brand-top
                p
                  img(src="/images/brand-header.png")
            div.main-width
                div.logo-brand
                    a(href="#")
                        img(src="/images/brand1.png")
                    a(href="#")
                        img(src="/images/brand2.png")
                    a(href="#")
                        img(src="/images/brand3.png")
                    a(href="#")
                        img(src="/images/brand4.png")
                    a(href="#")
                        img(src="/images/brand5.png")
                    a(href="#")
                        img(src="/images/brand6.png")
                    a(href="#")
                        img(src="/images/brand7.png")
                    a(href="#")
                        img(src="/images/brand8.png")
        div.clearfix
        section.full-width.look-shop
            div.main-width
                h2 About LookShop
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.
        div.clearfix
        section.full-width.pyament-system
            div.main-width
                div.card-payment
                    p We accept
                    img(src="/images/payment.png")
        div.clearfix
        section.full-width.footer
            div.main-width
               +footerTop
        div.clearfix
        section.full-width.footer-bottom
            div.main-width
                +footerBottom
        div.clearfix



















