extends ./layouts/main.jade
block content
    main
        section.full-width.account-section
            div.main-width
                div.account-left
                    span custom care:
                    | 888-23-4567
                div.account-right
                    div.search
                        input(type='text')
                    div.account-page-link
                        a(href='#') my account
                    div.currency-switcher
                        select
                            option $ US
                            option $ US
                            option $ US
        div.clearfix
        section.full-width.header-section
            header.main-width
                div.logo
                    a(href='/')
                        img(src='images/logo.png')
                nav.main-menu
                    ul
                        li
                            a(href='#') new
                        li
                            a(href='#') designers
                        li
                            a(href='#') women
                        li
                            a(href='#') men
                        li
                            a(href='#') clearence
                div.cart
                    div.cart-header
                        | Your cart
                        span.triangle-down
                    div.cart-total
                        span 0 items  |  $ 0
        div.clearfix
        section.full-width.fotorama(data-width="100%" data-height="414px")
            img(src='images/1.png' data-fit="cover")
            img(src='images/2.png' data-fit="cover")
            img(src='images/3.png' data-fit="cover")
            img(src='images/4.png' data-fit="cover")
            img(src='images/5.png' data-fit="cover")
        div.clearfix
        section.full-width.contacts
            div.main-width
                div.form
                    label.label(for='e-mail') Stay updated
                    input(type="mail", name="e-mail", id='e-mail', placeholder='Your email address')
                    button
                div.find-us-here
                    span Find us here
                    div.social
                        ul
                            li
                                a(href='#'): img(src='images/facebook.png')
                            li
                                a(href='#'): img(src='images/twitter.png')
                            li
                                a(href='#'): img(src='images/pinterest.png')




