extends layouts/main.jade
include layouts/mixin
block content
  main
    //ACOUNT SECTION
    section.full-width.account-section
      div.main-width
        div.account-left
          span custom care:
          |  557-23-4555
        div.account-right
          div.search
            input(type='text')
          div.account-page-link
            div.account-icon
            img(src='images/account-icon.png')
            a(href='#') my account
          div.currency-switcher
            select
              option $ US
              option € EUR
              option £ GBP
    div.clearfix
    //HEADER SECTION
    section.header-section
      header.main-width
        div.logo
          a(href='#')
            img(src='images/site-logo.png')
        nav
          ul
            li
              a(href='#') new
            li
              a(href='#') designers
            li
              a(href='#') women
            li
              a(href='#') men
            li
              a(href='#') clearence
        div.cart
          div.cart-header
            | Your cart
            span.triangle-down
          div.cart-total
            span 0 items | $ 0
    div.clearfix
    //HOME-CAROUSEL SECTION
    section.full-width.home-carousel
      div.jcarousel-full
        ul
          li
            +slide('/images/slide-1.png', '/images/slide-1-1.png')
          li
            +slide('/images/slide-1.png')
          li
            +slide('/images/slide-1.png')
      a.jcarousel-control-prev(href='#' data-jcarouselcontrol='true')
      a.jcarousel-control-next(href='#' data-jcarouselcontrol='true')
      p.jcarousel-pagination(data-jcarouselcontrol='true')
        a(href='#')
        a(href='#')
        a(href='#')
    div.clearfix
    //MIDDLE-LINE SECTION
    section.middle-line.full-width
      div.main-width
        div.email-form
          form(name='email', method='post')
            span Stay updated
            input(type='text', name='title' placeholder='Your email adress')
            button
              i.fa.fa-plus
        div.social-icons
          span Find us here
          a(href='#', target='_blank')
            i.fa.fa-facebook
          a(href='#', target='_blank')
            i.fa.fa-twitter
          a(href='#', target='_blank')
            i.fa.fa-instagram
    div.clearfix
    //PICTURE-BLOCKS SECTION
    section.picture-blocks
      .main-width
        a(href="#")
          div.left-pic-set
            img(src='images/left-pic.jpg', alt='')
        div.right-pic-set
          a(href="#")
            div.top-pic
              img(src='images/right-top-pic.jpg', alt='')
          a(href="#")
            div.bottom-left-pic
              img(src='images/bottom-left-pic.jpg', alt='')
          a(href="#")
            div.bottom-right-pic
              img(src='images/bottom-right-pic.jpg', alt='')
    //PRODUCTS-BLOCKS-NAV
    section.products-blocks-nav
      div.main-width
        div#tabs
          ul
            li.ui-state-active
              a(href='#tabs-hot') what's hot?
            li
              a(href='#tabs-designers') designers
            li
              a(href='#tabs-featured') featured
            li
              a(href='#tabs-latest') latest
    //PRODUCTS-BLOCKS SECTION
    //section.full-width.products-blocks
      div#tabs-hot
        div.products-jcarousel-wrapper
          div.products-jcarousel#products-hot
          ul
            li
              +product('/images/product-1.png', 'Product 1', '55', '/images/label.png')
            li
              +product('/images/product-2.png', 'Product 2', '55', false)
            li
              +product('/images/product-3.png', 'Product 3', '55', '/images/label.png')
            li
              +product('/images/product-4.png', 'Product 4', '55', '/images/label.png')
            li
              +product('/images/product-1.png', 'Product 1', '55', '/images/label.png')
            li
              +product('/images/product-2.png', 'Product 2', '55', false)
            li
              +product('/images/product-3.png', 'Product 3', '55', '/images/label.png')
            li
              +product('/images/product-4.png', 'Product 4', '55', '/images/label.png')
            li
              +product('/images/product-1.png', 'Product 1', '55', '/images/label.png')
            li
              +product('/images/product-2.png', 'Product 2', '55', false)
            li
              +product('/images/product-3.png', 'Product 3', '55', '/images/label.png')
            li
              +product('/images/product-4.png', 'Product 4', '55', '/images/label.png')
      div#tabs-designers
        div.products-jcarousel-wrapper
          div.products-jcarousel#products-designers
            ul
              li
                +product('/images/product-1.png', 'Product 1', '55', true)
              li
                +product('/images/product-2.png', 'Product 2', '55', false)
              li
                +product('/images/product-3.png', 'Product 3', '55', true)
              li
                +product('/images/product-4.png', 'Product 4', '55', true)
      div#tabs-featured
        div.products-jcarousel-wrapper
          div.products-jcarousel#products-featured
            ul
              li
                +product('/images/product-1.png', 'Product 1', '55', true)
              li
                +product('/images/product-2.png', 'Product 2', '55', false)
              li
                +product('/images/product-3.png', 'Product 3', '55', true)
              li
                +product('/images/product-4.png', 'Product 4', '55', true)
      div#tabs-latest
        div.products-jcarousel-wrapper
          div.products-jcarousel#products-latest
            ul
              li
                +product('/images/product-1.png', 'Product 1', '55', true)
              li
                +product('/images/product-2.png', 'Product 2', '55', false)
              li
                +product('/images/product-3.png', 'Product 3', '55', true)
              li
                +product('/images/product-4.png', 'Product 4', '55', true)
    //CLEARANCE SECTION
    section.home-label.full-width
      fieldset
        legend(align='center')
          img(src='images/home-label.png')
      div.main-width
        div.cards-wrapper
          div.card
            div.card-pic
              img(src='images/card1.png')
            div.card-label
              img(src='images/label.png')
            div.card-info-block
              div.card-name
                h4 nadia dress
              div.card-price
                span $64.95
              div.info-button
                button add to cart
                i.fa.fa-plus
        div.cards-wrapper
          div.card
            div.card-pic
              img(src='images/card2.png')
            div.card-label
              img(src='images/label.png')
            div.card-info-block
              div.card-name
                h4 sofi blouse
              div.card-price
                span $26.95
              div.info-button
                button add to cart
                i.fa.fa-plus
        div.cards-wrapper
          div.card
            div.card-pic
              img(src='images/card3.png')
            div.card-label
              img(src='images/label.png')
            div.card-info-block
              div.card-name
                h4 gooding shorts
              div.card-price
                span $79.95
              div.info-button
                button add to cart
                i.fa.fa-plus
        div.cards-wrapper
          div.card
            div.card-pic
              img(src='images/card4.png')
            div.card-label
              img(src='images/label.png')
            div.card-info-block
              div.card-name
                h4 mimosa lace dress
              div.card-price
                span $76
              div.info-button
                button add to cart
                i.fa.fa-plus
    div.clearfix
    //BRAND-LOGOSET SECTION
    section.brand-logoset.full-width
      fieldset
        legend(align='center')
          span favourite brands
      div.logoset.main-width
        ul
          li
            a(href='#')
              img(src='images/logoset1.png', alt='')
          li
            a(href='#')
              img(src='images/logoset2.png', alt='')
          li
            a(href='#')
              img(src='images/logoset3.png', alt='')
          li
            a(href='#')
              img(src='images/logoset4.png', alt='')
          li
            a(href='#')
              img(src='images/logoset5.png', alt='')
          li
            a(href='#')
              img(src='images/logoset6.png', alt='')
          li
            a(href='#')
              img(src='images/logoset7.png', alt='')
          li
            a(href='#')
              img(src='images/logoset8.png', alt='')
    .clearfix
    //ABOUT SECTION
    section.about.full-width
      fieldset
        legend(align='center')
          span About LookShop
      div.main-width
        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.
    div.clearfix
    //PAYMENT-SYSTEMS SECTION
    section.payment-systems.full-width
      div.main-width
        span We accept
        a(href='#')
          img(src='images/payment-systems.png', alt='')
    div.clearfix
    //FOOTER
    footer.full-width
      div.footer-links
        div.main-width
          nav
            span Customer Service
            ul
              li
                a(href='#') Contact
              li
                a(href='#') FAQ
              li
                a(href='#') Terms of payment
              li
                a(href='#') Terms of sale
              li
                a(href='#') Terms and conditions
              li
                a(href='#') Returns and refunds
          nav.information
            span Information
            ul
              li
                a(href='#') Affiliate
              li
                a(href='#') Cookies
              li
                a(href='#') How to shop
              li
                a(href='#') About Nelly
              li
                a(href='#') Investor relations
          nav.campaigns
            span Campaigns
            ul
              li
                a(href='#') Evening dresses
              li
                a(href='#') Makeup
              li
                a(href='#') Fashion forward
              li
                a(href='#') Training clothes
              li
                a(href='#') Special Occasion Dresses
          nav.stores
            span Stores
            ul
              li
                a(href='#') Paris
              li
                a(href='#') New York
              li
                a(href='#') London
              li
                a(href='#') Madrid
              li
                a(href='#') Tokio
          nav.social
            span Social
            div.icon-row.top-icon-row
              ul
                li
                  a(href='', target='blank')
                    div.icon-circle
                      i.fa.fa-twitter
                li
                  a(href='', target='blank')
                    div.icon-circle
                      i.fa.fa-pinterest
                li
                  a(href='', target='blank')
                    div.icon-circle
                      i.fa.fa-facebook
            div.icon-row
              ul
                li
                  a(href='', target='blank')
                    div.icon-circle
                      i.fa.fa-google-plus
                li
                  a(href='', target='blank')
                    div.icon-circle
                      i.fa.fa-tumblr
                li
                  a(href='', target='blank')
                    div.icon-circle
                      i.fa.fa-vimeo
          nav.secured-pic
            a(href='#')
              img(src='images/secured-pic.png')

      div.footer-bottom-line.full-width
        div.main-width
          nav.legal
            ul
              li
                a(href='#') Privacy & Cookies
              li
                a(href='#') Terms & Conditions
              li
                a(href='#') Accessibility
              li
                a(href='#') Store Directory
              li
                a(href='#') About Us
          div.copyright
            span &copy LookShop.com
            span Al Rights Reserved
    .clearfix