extends ./layouts/main.jade
block content
  main
    section.full-width.account-section
      div.main-width
        div.account-left
          span custom care:
          |  557-23-4555
        div.account-right
          div.search
            input(type='text')
          div.account-page-link
            div.account-icon
            img(src='images/account-icon.png')
            a(href='#') my account
          div.currency-switcher
            select
              option $ US
              option € EUR
              option £ GBP
      div.clearfix
    section.header-section
      header.main-width
        div.logo
          a(href='#')
            img(src='images/site-logo.png')
        nav
          ul
            li
              a(href='#') new
            li
              a(href='#') designers
            li
              a(href='#') women
            li
              a(href='#') men
            li
              a(href='#') clearence
        div.cart
          div.cart-header
            | Your cart
            span.triangle-down
          div.cart-total
            span 0 items | $ 0
      div.clearfix
      section.slider
        div.main-width
          div.jcarousel
            ul
              li
                a(href='#')
                  img(src='/images/slider-1.png', width='1000', height='100%', alt='')
              li
                a(href='#')
                  img(src='/images/slider-2.jpg', width='1000', height='100%', alt='')
            a(href='#', class='jcarousel-control-prev')
            | L
            a(href='#', class='jcarousel-control-next')
            | R


          p.jcarousel-pagination