extends ./layouts/main.jade
block content
  main
    section.full-width.account-section
      div.main-width
        div.account-left
          span custom care:
          | 888-23-4567
        div.account-right
          div.search
            input(type='text')
          div.account-page-link
            a(href='#') my account
          div.currency-switcher
            select
              option $ US
              option $ US
              option $ US
    div.clearfix
