extends ./layouts/main.jade
block content
  main
    section.full-width.account-section
      div.main-width
        div.account-left
          span custom care:
          |  557-23-4555
        div.account-right
          div.search
            input(type='text')
          div.account-page-link
            div.account-icon
            img(src='images/account-icon.png')
            a(href='#') my account
          div.currency-switcher
            select
              option $ US
              option € EUR
              option £ GBP
      div.clearfix
    section.header-section
      header.main-width
        div.logo
          a(href='#')
            img(src='images/site-logo.png')
        nav
          ul
            li
              a(href='#') new
            li
              a(href='#') designers
            li
              a(href='#') women
            li
              a(href='#') men
            li
              a(href='#') clearence
        div.cart
          div.cart-header
            | Your cart
            span.triangle-down
          div.cart-total
            span 0 items | $ 0
      div.clearfix
      section.slider
        div.main-width
          div.jcarousel
            ul
              li
                a(href='#')
                  img(src='images/slider-1.png', width='1000', height='100%', alt='')
              li
                a(href='#')
                  img(src='images/slider-1.png', width='1000', height='100%', alt='')
              li
                a(href='#')
                  img(src='images/slider-1.png', width='1000', height='100%', alt='')
            a(href='#', class='jcarousel-control-prev')
              img(class='arrow-left', src='images/arrow-left.svg', width='10', height='100%', alt='')
            a(href='#', class='jcarousel-control-next')
              img(class='arrow-right', src='images/arrow-right.svg', width='10', height='100%', alt='')
          p.jcarousel-pagination
      div.clearfix
      section.middle-line.full-width
        div.main-width
          div.email-form
            form(name='email', method='post')
              span Stay updated
              input(type='text', name='title' placeholder='Your email adress')
              button
                i.fa.fa-plus
          div.social-icons
            span Find us here
            a(href='#', target='_blank')
              i.fa.fa-facebook
            a(href='#', target='_blank')
              i.fa.fa-twitter
            a(href='#', target='_blank')
              i.fa.fa-instagram
      div.clearfix
      section.picture-blocks
        .main-width
          a(href="#")
            div.left-pic-set
              img(src='images/left-pic.jpg', alt='')
          div.right-pic-set
            a(href="#")
              div.top-pic
                img(src='images/right-top-pic.jpg', alt='')
            a(href="#")
              div.bottom-left-pic
                img(src='images/bottom-left-pic.jpg', alt='')
             a(href="#")
              div.bottom-right-pic
                img(src='images/bottom-right-pic.jpg', alt='')
      section.full-width.products-blocks
        div.main-width
          div#tabs
            ul
              li
                a(href='#tabs-1') what's hot?
              li
                a(href='#tabs-1') what's hot?
              li
                a(href='#tabs-1') what's hot?