doctype html
html
    head
        block title
            title My site
        block styles
            link(href='/css/style.css', rel='stylesheet')
    body
        block content
        script(src='/libraries/jquery/dist/jquery.min.js')
        script(src='/libraries/jquery/dist/jquery.jcarousel.js')
    main
        section.full-width.topblack-section
            div.main-width
                div.topblack-left
                    span custom care:
                    | 888-23-4567
                div.topblack-right
                    div.search
                        input(type='text')
                        div.account-page-link
                        div.account-icon
                            img(src='images/Contact _ User.png')
                        a(href='#') my account
                    div.currency-switcher
                        select
                            option $ US
                            option ₴ UAH
                            option £ GBP
        div.clearfix
        section.full-width.header-section
            header.main-width
                div.logo
                    a(href='/')
                        img(src='images/logo.png')
                nav.main-menu
                    ul
                        li
                            a(href='#') new
                            img(src='images/triangle.png')
                        li
                            a(href='#') designers
                            img(src='images/triangle.png')
                        li
                            a(href='#') women
                            img(src='images/triangle.png')
                        li
                            a(href='#') men
                            img(src='images/triangle.png')
                        li
                            a(href='#') clearence
                            img(src='images/triangle.png')
                div.cart
                    div.cart-header
                        | Your cart
                    div.cart-total
                        span 0 items  |  $ 0
        div.clearfix
            section.full-width.jcarousel-section
            div.jcarousel
            div.wrapper
            .jcarousel-wrapper
            .jcarousel
            a.arrow.next
            a.arrow.prev
            ul.content
                li
                    img(src='/images/girl.png')
                    div.main-width
                        img(src='/images/Group 10.png')
                li
                    img(src='/images/Layer 33.png')
                li
                    img(src='/images/Layer 33.png')
                li
                    img(src='/images/Layer 33.png')
                    a.jcarousel-control-next(href="#")
                    a.jcarousel-control-prev(href="#")
                    div.jcarousel-pagination
                    a.jp-item active(href="#")
                    a.jp-item active(href="#")
                    a.jp-item active(href="#")
                    a.jp-item active(href="#")
                    a.jp-item active(href="#")
                    a.jcarousel-prev(href="#")
                    i.fa.fa-chevron-left
                    a.jcarousel-next(href="#")
                    i.fa.fa-chevron-right
        div.clearfix
        section.full-width.address-section
            div.main-width
                div.address-left
                    form(role='form',method='POST', action='')
                        label
                        | Stay updated
                        input(type='text', placeholder='Your email adress',)
                        button
                        i.fa.fa-plus
                div.address-right
                    span
                    | Find us here
                    a(href='#')
                    div
                    a(href='#', target='_blank')
                        i.fa.fa-facebook
                    a(href='#', target='_blank')
                        i.fa.fa-twitter
                    a(href='#', target='_blank')
                        i.fa.fa-pinterest
            div.clearfix
        section.full-width.range-section
            div.main-width
            div.range-left
                a(href='/')
                    img(src='images/Layer 6.png')
                h3 BEST
                h2 OUTFITS
                span
                h1 LOOKS
                div.range-right
                    div.party
                    a(href='/')
                    img(src='images/Layer 3.png')
                    div.bottom-range
                    div.best-sellers
                    a(href='/')
                        img(src='images/Layer 5.png')
                        button
                        | BEST SELLERS
                        span.leather-right
                        div.fall-leather
                            a(href='/')
                                img(src='images/Layer 7.png')
                        button.btn shop now
        div.clearfix









