extends layouts/main.jade
include layouts/mixin
block content
    main
        section.full-width.account-section
            div.main-width
                div.account-left
                    span custom care:
                    | 888-23-4567
                div.account-right
                    div.search
                        input(type='text')
                    div.account-page-link
                        a(href='#') my account
                    div.currency-switcher
                        select
                            option $ US
                            option $ US
                            option $ US
        div.clearfix
        section.full-width.header-section
            header.main-width
                div.logo
                    a(href='/')
                        img(src='images/logo.png')
                nav.main-menu
                    ul
                        li
                            a(href='#') new
                        li
                            a(href='#') designers
                        li
                            a(href='#') women
                        li
                            a(href='#') men
                        li
                            a(href='#') clearence
                div.cart
                    div.cart-header
                        | Your cart
                        span.triangle-down
                    div.cart-total
                        span 0 items  |  $ 0
        div.clearfix

        section.full-width.carousel
            div.jcarousel-wrapper
                div.jcarousel
                    ul
                        li
                            img(src='images/1.png')
                        li
                            img(src='images/1.png')
                        li
                            img(src='images/1.png')
                        li
                            img(src='images/1.png')
                        li
                            img(src='images/1.png')
                a.jcarousel-control-prev(href="#")
                a.jcarousel-control-next(href="#")
                p.jcarousel-pagination
                    a(href="#")
                    a(href="#")
                    a(href="#")
                    a(href="#")
                    a(href="#")

        div.clearfix

        section.full-width.subscription-block
                div.main-width
                    div.subscription-left
                        form(role='form', method='POST', action='')
                            label
                                | Stay updated
                                input(type='text', placeholder='Your email address', required='')
                            button
                                i.fa.fa-plus
                    div.subscription-right
                        span Find us here
                        a(href='#', target='_blank')
                            i.fa.fa-facebook
                        a(href='#', target='_blank')
                            i.fa.fa-twitter
                        a(href='#', target='_blank')
                            i.fa.fa-pinterest
        div.clearfix

        section.full-width
                div.main-width
                    div.imageblock
                        div.left
                            a(href='#')
                        div.right
                            div.top
                                a(href='#')
                            div.bottom-left
                                a(href='#')
                            div.bottom-right
                                a(href='#')
                                    button shop now
                                        i.fa.fa-caret-right
        div.clearfix

        section.full-width.products-blocks-nav#tabs
            div.main-width
                div
                    ul
                        li.ui-state-active
                            a(href='#tabs-hot') what's hot?
                        li
                            a(href='#tabs-designers') designers
                        li
                            a(href='#tabs-featured') featured
                        li
                            a(href='#tabs-latest') latest
            section.full-width.products-blocks
                div#tabs-hot
                    div.products-jcarousel-wrapper
                        div.products-jcarousel#products-hot
                            ul
                                li
                                    +product('images/product-1.png', 'Product 1', '55', 'images/label.png')
                                li
                                    +product('images/product-2.png', 'Product 2', '55', false)
                                li
                                    +product('images/product-3.png', 'Product 3', '55', 'images/label.png')
                                li
                                    +product('images/product-1.png', 'Product 4', '55', 'images/label.png')
                                li
                                    +product('images/product-1.png', 'Product 1', '55', 'images/label.png')
                                li
                                    +product('images/product-2.png', 'Product 2', '55', false)
                                li
                                    +product('images/product-3.png', 'Product 3', '55', 'images/label.png')
                                li
                                    +product('images/product-1.png', 'Product 4', '55', 'images/label.png')
                                li
                                    +product('images/product-1.png', 'Product 1', '55', 'images/label.png')
                                li
                                    +product('images/product-2.png', 'Product 2', '55', false)
                                li
                                    +product('images/product-3.png', 'Product 3', '55', 'images/label.png')
                                li
                                    +product('images/product-1.png', 'Product 4', '55', 'images/label.png')
                div#tabs-designers
                    div.products-jcarousel-wrapper
                        div.products-jcarousel#products-designers
                            ul
                                li
                                    +product('images/product-1.png', 'Product 1', '55', true)
                                li
                                    +product('images/product-2.png', 'Product 2', '55', false)
                                li
                                    +product('images/product-3.png', 'Product 3', '55', true)
                                li
                                    +product('images/product-4.png', 'Product 4', '55', true)
                div#tabs-featured
                    div.products-jcarousel-wrapper
                        div.products-jcarousel#products-featured
                            ul
                                li
                                    +product('images/product-1.png', 'Product 1', '55', true)
                                li
                                    +product('images/product-2.png', 'Product 2', '55', false)
                                li
                                    +product('images/product-3.png', 'Product 3', '55', true)
                                li
                                    +product('images/product-4.png', 'Product 4', '55', true)
                div#tabs-latest
                    div.products-jcarousel-wrapper
                        div.products-jcarousel#products-latest
                            ul
                                li
                                    +product('images/product-1.png', 'Product 1', '55', true)
                                li
                                    +product('images/product-2.png', 'Product 2', '55', false)
                                li
                                    +product('images/product-3.png', 'Product 3', '55', true)
                                li
                                    +product('images/product-4.png', 'Product 4', '55', true)

        section.full-width.home-label
            div.main-width
                fieldset
                    legend(align='center')
                        img(src='images/home-label.png')

        div.clearfix

        section.full-width.sale-block
            div.main-width
                ul
                    li
                        +product-sales('images/sale1.png', 'Product 1', '55', 'images/label.png')
                    li
                        +product-sales('images/sale2.png', 'Product 2', '55', false)
                    li
                        +product-sales('images/sale1.png', 'Product 3', '55', 'images/label.png')
                    li
                        +product-sales('images/sale2.png', 'Product 4', '55', 'images/label.png')

        div.clearfix

        section.full-width.FB-label
            fieldset
                legend(align='center')
                    img(src='images/FB.png')
            div.main-width.brands
                img(src='images/FBimgs.png')
            fieldset

        div.clearfix

        section.full-width.look-shop
            div.main-width
                div.look-shop-title About LookShop
                div.look-shop-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.

        div.clearfix

        section.full-width.payment-system
            div.main-width
               div.payment-images We accept
                   img(src='images/PmImgs.png')

        div.clearfix

        section.full-width.footer
            div.main-width.fotters-ul
                div.customer-service Customer Service
                    ul
                        li
                            +footer-list('Contact')
                        li
                            +footer-list('FAQ')
                        li
                            +footer-list('Terms of payment')
                        li
                            +footer-list('Terms of sale')
                        li
                            +footer-list('Delivery terms and conditions')
                        li
                            +footer-list('Returns and Refunds')
                div.information Information
                    ul
                        li
                            +footer-list('Affiliate')
                        li
                            +footer-list('Cookies')
                        li
                            +footer-list('How to Shop')
                        li
                            +footer-list('About Nelly')
                        li
                            +footer-list('Investor relations')

                div.campaigns Campaigns
                    ul
                        li
                            +footer-list('Affiliate')
                        li
                            +footer-list('Cookies')
                        li
                            +footer-list('How to Shop')
                        li
                            +footer-list('About Nelly')
                        li
                            +footer-list('Investor relations')
                div.stores Stores
                    ul
                        li
                            +footer-list('Affiliate')
                        li
                            +footer-list('Cookies')
                        li
                            +footer-list('How to Shop')
                        li
                            +footer-list('About Nelly')
                        li
                            +footer-list('Investor relations')
                div.social Social
                    a(href='#', target='_blank')
                        i.fa.fa-facebook
                    a(href='#', target='_blank')
                        i.fa.fa-twitter
                    a(href='#', target='_blank')
                        i.fa.fa-pinterest

        div.clearfix

        section.full-width.footer2
            div.main-width
                div.about_us
                    span
                        a(href='#') Privacy & Cookies &nbsp|
                        a(href='#') Terms & Conditions  &nbsp |
                        a(href='#') Accessibility &nbsp  |
                        a(href='#') Store Directory  &nbsp |
                        a(href='#') About Us
                div.rights
                    span &copy LookShop.com
                    span All Rights Reserved
















