extends ./layouts/main.jade
block content
    main
        section.full-width.account
            div.main-width
                div.account-left
                    span custom care:
                    | 888-23-4567
                div.account-right
                    div.search
                        input(type='text')
                    div.account-page
                        a(href='#') my account
                    div.currency-switcher
                        select
                            option &#36;   US
                            option &#8364; EURO
                            option &#8372; UAH
        div.clearfix
        section.full-width.header-section
            header.main-width
                div.logo
                    a(href='/')
                        img(src='images/logo.png')
                nav.main-menu
                    ul
                        li
                            a(href='#') new
                        li
                            a(href='#') designers
                        li
                            a(href='#') women
                        li
                            a(href='#') men
                        li
                            a(href='#') clearence
                div.cart
                    div.cart-header
                        | Your cart
                        span.triangle-down
                    div.cart-total
                        span 0 items  |  $ 0
        div.clearfix
        section.full-width.slider
            div.jcarousel
                ul
                    li
                        img(src='images/slider.png')
                    li
                        img(src='images/slider.png')
                    li
                        img(src='images/slider.png')
                    li
                        img(src='images/slider.png')
                    li
                        img(src='images/slider.png')
           a.jcarousel-control-prev(href="#" data-jcarouselcontrol="true")
           a.jcarousel-control-prev(href="#" data-jcarouselcontrol="true")
           p.jcarousel-pagination
               a(href="#")
               a(href="#")
               a(href="#")
               a(href="#")
               a(href="#")
        div.clearfix
        section.full-width.subscription
            div.main-width
                div.subscription-left
                    form(role='form', method='POST', action='')
                        label
                            | Stay updated
                            input(type='text', placeholder='Your email address', required='')
                        button
                            i.fa.fa-plus
                div.subscription-right
                    span Find us here
                    a(href='https://www.facebook.com/')
                        i.fa.fa-facebook
                    a(href='https://twitter.com/?lang=ru')
                        i.fa.fa-twitter
                    a(href='https://ru.pinterest.com/')
                        i.fa.fa-pinterest
        div.clearfix
        section.full-width.wallpapers-section
            div.wallpapers
                div.left
                    a(href='#')
                div.right
                    div.top
                        a(href='#')
                    div.bottom-left
                        a(href='#')
                    div.bottom-right
                        button shop now
                            i.fa.fa-caret-right
        div.clearfix
        