//extends ./layouts/main.jade
//block content
    h1 Hello world

doctype html
html(lang="en")
  head
    title= Final Project
  body
    main
      section.full-width.account-section
        div.main-width
          div.account-left
            span custom care:
            |  888-23-4567
          div.account-right