extends ./layouts/main.jade
block content
    main
        section.full-width.account-section
            div.main-width
                div.account-left
                    span custom care:
                    | 888-23-4567
                div.account-right
                    div.search
                        input(type='text')
                    div.account-page-link
                        a(href='#') my account
                    div.currency-switcher
                        select
                            option $ US
                            option EURO
                            option UAH
        section.main-width.nav-section
            div.logo-left
                img(src='images/logo.png')
            div.menu-dropdown
                a(href='#') new
                img(src='images/arrow_down.png')
                a(href='#') designers
                img(src='images/arrow_down.png')
                a(href='#') women
                img(src='images/arrow_down.png')
                a(href='#') men
                img(src='images/arrow_down.png')
                a(href='#') clearence
                img(src='images/arrow_down.png')
            div.your_cart
                div.cart1
                    span Your cart
                div.cart2
                    span 0 items  |  $ 0
        div.clearfix