extends ./layouts/main.jade
block content
  main
    section.top-section.full-width
      div.main-width
        div.custom-care
          span custom care:
          | 888-23-4567
        div.option-div
          div.search
            input(type="text")
          div.my_account
              a(href="#" target="_blank") my account
          div.currency-change
            select
              option &#36; US
              option &euro; EURO
              option &#163; GBP
              option &#165; CHY
    .clearfix
    section.full-width.purchase-section
      div.main-width
        div.logo
          img(src="./images/logo.png" alt="Logo")
        div.cart-table
          div.your-cart
            a(href="#") Your cart
          div.cart-bag
            span 0 items | $ 0
        div.departments
          ul
            li new
              img(src="./images/select_triangle.png")
            li designers
              img(src="./images/select_triangle.png")
            li women
              img(src="./images/select_triangle.png")
            li men
              img(src="./images/select_triangle.png")
            li clearence
              img(src="./images/select_triangle.png")
    .clearfix
    section.full-width.carousel-section
      div.jcarousel-wrapper
        div.jcarousel
          ul
            li
              img(src="./images/main-carousel-image.png" style="width: 100%;")
            li
              img(src="./images/main-carousel-image.png" style="width: 100%;")
            li
              img(src="./images/main-carousel-image.png" style="width: 100%;")
            li
              img(src="./images/main-carousel-image.png" style="width: 100%;")
            li
              img(src="./images/main-carousel-image.png" style="width: 100%;")
        a.jcarousel-control-prev(href="#" data-jcarouselcontrol="true")
        a.jcarousel-control-next(href="#" data-jcarouselcontrol="true")
        p.jcarousel-pagination(data-jcarouselcontrol="true")
          a(href="#")
          a(href="#")
          a(href="#")
          a(href="#")
          a(href="#")
    section.full-width.subscription-section
      div.main-width
        div.subscription-left
          form(role="form", method="POST", action="")
            label
              | Stay updated
              input(type="text", placeholder="Your email address", required="")
            button
              i.fa.fa-plus
        div.subscription-right
          span Find us here
          a(href="#", target="_blank")
            i.fa.fa-facebook
          a(href="#", target="_blank")
            i.fa.fa-twitter
          a(href="#", target="_blank")
            i.fa.fa-pinterest
    section.full-width.marketing-section
      div.main-width
        div.marketing-left
          a(href="#" target="_blank")
        div.marketing-right
          div.marketing-right-top
            a(href="#" target="_blank")
          div.marketing-right-bottom-left
            a(href="#" target="_blank")
          div.marketing-right-bottom-right
            a(href="#" target="_blank")