doctype html
html
  head
    title Lookshop
    link(href="../dist/css/style.css" rel="styleSheet")
  body
    section.top-section
      .custom-care custom care: 888-23-4567
      .option-div
        select
          option &#36; US
          option &euro; EURO
          option &#163; GBP
          option &#165; CHY
        span.my_account
          a(href="#" target="_blank")
            img(src="../dist/images/Contact_User.png")
            | my account
        a.search(href="#")
          img(src="../dist/images/searching_glass.png")
      .clearfix

