.header-section{
  height: 85px;
}.logo{
   width:200px;
   margin-top: 50px;
 }
.nav-menu{
  width:37%;
  margin: -40px auto;
  li{
    float: left;
    list-style: none;
    padding:10px;
    a{
      text-decoration: none;
      color: #000000;
      font-weight: bold;
    }
  }
}
.left{
  float: right;
  height:67px;
  width:214px;
  border: 1px solid #E0E0E0;
  position: relative;
  bottom: 14px;

  .cart{
    height: 33px;
    border-bottom: 1px solid #E0E0E0;
    color:  #949393;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.06px;
    text-align: left;
    line-height: 33px;
    text-indent: 10px;
    span{
      float: right;
      position: relative;
      right: 10px;
      top:14px;
    }
  }
  .basket{
    background: url("/images/basket.png") no-repeat 10px;
    text-align: right;
    span{
      color:  #949393;
      font-size: 11px;
      font-weight: 400;
      letter-spacing: -0.055px;
      line-height: 33px;
      margin-right: 10px;

    }

  }

}


