main {
  .full-width {
    width: 100%;
  }
  .main-width {
    width: 1000px;
    margin: 0 auto;
  }
  .triangle-down{
    display: inline-block;
    background: url("../images/triangle.png") no-repeat center center;
    width: 7px;
    height: 4px;
  }
}