//@import '_reset';
//@import "_breakpoints";
//@import "_colors";
//@import "_headings";

$border-color: #000000;

* {
  padding: 0;
  margin: 0;
}
.clearfix {
  clear: both;
}
main {
  .full-width {
  width: 100%;
 }
  .main-width {
  width: 1000px;
  margin: 0 auto;
 }
}

.top-section {
  background-color: $border-color;
  height: 30px;
  line-height: 30px;
  color:  white;
  .custom-care {
  float: left;
  width: 45%;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.06px;
  text-transform: uppercase;
  text-align: left;
  span {
      font-size: 11px;
      margin-right: 4px;
    }
  }
  .option-div{
  float: right;
  width: 45%;
  .search {
      position: relative;
      float: right;
      border-left: 1px solid #444444;
      border-right: 1px solid #444444;
      width: 35px;
      height: 30px;
      input {
        background: url("../images/searching_glass.png") no-repeat 50% center;
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 30px;
        border: none;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:focus {
          background: white;
          width: 237px;
          border-bottom: 1px solid #444444;
          cursor: text;
          z-index: 500;
          //height: 29px;
          box-shadow: none;
        }
      }
    }
    .my_account {
    height: 30px;
    float: right;
    border-left: 1px solid #444444;
    background: url("../images/Contact_User.png") no-repeat;
    background-position:  15px center;
    width: 100px;
    padding-left: 40px;
    line-height: 29px;
    a {
      font-size: 11px;
      font-weight: 400;
      font-family: Arial;
      letter-spacing: -0.055px;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
    }
  }
    .currency-change {
      float: right;
      height: 30px;
      width: 60px;
      text-align: center;
      border-left: 1px solid #444444;
      select {
        border: none;
        background: none;
        color: #ffffff;
        cursor: pointer;
        position: relative;
        background: black;
        option {
          border: none;
          background: none;
          color: #ffffff;
        }
      }
    }
  }
}
.purchase-section {
  height: 90px;
  line-height: 90px;
  .logo {
    float: left;
    img {
      vertical-align: middle;
    }
  }
  .departments {
    float: right;
    ul {
      list-style: none;
      li{
        display: inline-block;
        cursor: pointer;
        margin-right: 25px;
        font-family: Arial;
        color:  #000000;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.08px;
        img {
          margin-left: 3px;
          vertical-align: middle;
        }
      }
    }
  }
  .cart-table {
    float: right;
    vertical-align: middle;
    margin-top: 23px;
    .your-cart {
      width: 214px;
      height: 33px;
      border: 1px solid #d6d6d6;
      border-bottom: none;
      background: url("../images/select-triangle-grey.png") no-repeat 95% center;
      line-height: 33px;
      cursor: pointer;
      a {
        font-family: Arial;
        color:  #949393;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.06px;
        text-align: left;
        margin-left: 4px;
        text-decoration: none;
      }
    }
    .cart-bag {
      width: 214px;
      height: 33px;
      border: 1px solid #d6d6d6;
      background:  #fafafa;
      line-height: 33px;
      span {
        display: inline-block;
        width: 210px;
        font-family: Arial;
        color:  #949393;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: -0.06px;
        padding-right: 4px;
        text-align: right;
       background: url("../images/cart-bag.png") no-repeat 5% center;
      }
    }
  }
}
.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
  width: 100%;
  //height: 440px;
}
.jcarousel-wrapper .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  opacity: .66;
}
/** Carousel **/

.jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  float: left;
  background-color: #f6f3ec;
  display: block;
}
.jcarousel ul li a {
  height: 440px;
  display: block;
  background-color: #f6f3ec;
}
.jcarousel ul li div.group-image {
  height: 440px;
  width: 48%;
  float: left;
  background: url("../images/main-caurosel-group.png") no-repeat;
}
.jcarousel ul li div.clothes-image {
  height: 440px;
  width: 48%;
  float: right;
  background: url("../images/main-carousel-image.png");
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 161px;
  width: 30px;
  height: 117px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.jcarousel-control-prev {
  left: 0;
  background: rgba(255, 255, 255, 0.9) url("../images/arrow-left.png") no-repeat 50% 50%;
}

.jcarousel-control-next {
  right: 0;
  background: rgba(255, 255, 255, 0.9) url("../images/arrow-right.png") no-repeat 50% 50%;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
  position: absolute;
  left: 50%;
  margin: 30px 0;
}

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  background: #867a76;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.jcarousel-pagination a.active {
  background: #fd926d;
}

.subscription-section {
  background-color: #ededed;
  height: 55px;
  line-height: 55px;
  margin-top: 80px;
  .subscription-left {
    float: left;
    width: 48%;
    form {
      label {
        cursor: pointer;
        font-family: Arial;
        color: #6b6b6b;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.06px;
        input {
          height: 28px;
          line-height: 28px;
          border: none;
          border-radius: 0;
          font-family: Arial;
          font-size: 12px;
          font-style: italic;
          letter-spacing: -0.06px;
          text-indent: 8px;
          &:focus {
            font-style: normal;
          }
        }
      }
      button {
        color: white;
        height: 27px;
        width: 28px;
        border: none;
        background: #fd926d;
        border-bottom: 2px solid #dd6b44;
        cursor: pointer;
        position: relative;
        left: -2px;
      }
    }

  }
  .subscription-right {
    float: right;
    width: 48%;
    text-align: right;
    span {
      font-family: Arial;
      color: #6c6c6c;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.06px;
      margin-right: 15px;
    }
    a {
      display: inline-block;
      height: 55px;
      width: 55px;
      text-align: center;
      font-size: 18px;
      color: #6b6b6b;
      &:nth-child(even) {
        background: #f7f7f7;
      }
    }
  }
}
.marketing-section {
  margin-top: 40px;
  margin-bottom: 50px;
  height: 340px;
  .marketing-left {
    width: 50%;
    float: left;
    height: 340px;
    background: url("../images/best-looks.png");
    background-size: cover;
    a {
      display: block;
      height: 340px;
    }
  }
  .marketing-right {
    width: 50%;
    float: right;
    height: 340px;
    .marketing-right-top {
      width: 100%;
      height: 169px;
      background: url("../images/summer-collection.png");
      background-size: cover;
      margin-bottom: 2px;
      a {
        display: block;
        height: 169px;
      }
    }
    .marketing-right-bottom-left{
      width: 241px;
      height: 169px;
      background: url("../images/best-sellers.png");
      background-size: cover;
      float: left;
      a {
        display: block;
        height: 169px;
      }
    }
    .marketing-right-bottom-right {
      width: 241px;
      height: 169px;
      background: url("../images/fall-laether.png");
      background-size: cover;
      float: right;
      a {
        display: block;
        height: 169px;
      }
    }
  }
}
.product-nav-section{
  div.main-width {
    height: 47px;
    ul {
      list-style: none;
      li {
        height: 47px;
        line-height: 47px;
        float: left;
        display: block;
        padding: 0 20px 0 20px;
        text-align: center;
        a {
          font-family: Arial;
          color: #555555;
          font-size: 15px;
          font-weight: 400;
          letter-spacing: -0.15px;
          text-transform: uppercase;
          text-decoration: none;
          display: block;
          height: 47px;
          line-height: 47px;
        }
      }
    }
  }
}
.clearence-section {
  margin: 20px 0;
  fieldset {
    border: none;
    border-top: 1px solid #B2B2B2;
    legend {
      padding: 0 20px 0 20px;
    }
  }
}
.product-wrapper {
  width: 220px;
  height: 395px;
  padding: 10px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  .product {
    position: relative;
    background: #f7f7f7;
    .link {
      opacity: 0;
      position: absolute;
      width: 134px;
      height: 134px;
      border-radius: 134px;
      left: 50%;
      top: 100px;
      margin-left: -67px;
      background-color: #3d3d3d;
      background-image: url("../images/link-bg.png");
      background-repeat: no-repeat;
      background-position: center 40%;
      z-index: 1000;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      a {
        display: block;
        width: 100%;
        border-radius: 134px;
        height: 100%;
        font-family: Arial;
        color: white;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.12px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 165px;
      }
    }
    .image {
      position: relative;
      height: 294px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
      .label {
        img {
          position: absolute;
          width: 50px;
          height: 50px;
          left: 0;
          top: 0;
        }
      }
    }
    .title {
      h3 {
        text-align: center;
        a {
          font-family: Arial;
          color: #373737;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: -0.12px;
          text-align: center;
          text-transform: uppercase;
          margin: 8px 0 8px 0;
          text-decoration: none;
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
        }
      }
    }
    .price {
      font-family: Arial;
      color: #373737;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: -0.22px;
      text-align: center;
    }
    .cart {
      text-align: center;
      button {
        width: 120px;
        color: white;
        height: 27px;
        background-color: #fd926d;
        cursor: pointer;
        border: none;
        border-bottom: 2px solid #dd6b44;
        text-transform: uppercase;
        text-align: center;
        line-height: 27px;
        margin: 10px 0 10px 0;
        i {
          margin-left: 5px;
        }
      }
    }
  }
  &:hover {
    padding: 0;
    width: 240px;
    height: 415px;
    .product {
      height: 100%;
      .link {
        opacity: 1;
      }
      .title {
        h3 {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}
.product-sale {
  float: left;
  width: 25%;
}
.favourite-brands {
  margin-top: 20px;
  border-bottom: 1px solid #B2B2B2;
  fieldset {
    border: none;
    border-top: 1px solid #B2B2B2;
    legend {
      padding: 0 20px 0 20px;
      text-transform: uppercase;
      font-family: Arial;
      color: #414141;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: -0.15px;
      text-align: center;
    }
  }
  .brand-icons {
    height: 100px;
    width: 100%;
    line-height: 100px;
    .brand-icon-images {
      height: 100px;
      line-height: 100px;
      float: left;
      width: 12.5%;
    }
  }
}
.section-about {
  padding: 30px 0;
  h4{
    margin-bottom: 20px;
    font-family: Arial;
    color: #414141;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.24px;
    text-align: center;
  }
  p{
    font-family: Arial;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }
}
.accept-payment {
  background-color: #f7f7f7;
  text-align: center;
  height: 58px;
  line-height: 58px;
  span {
    font-family: Arial;
    color: #414141;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.12px;
    margin-right: 10px;
  }
}
.information-section {
  padding: 20px 0;
  .information-div {
    float: left;
    //margin-left: 20px;
    width: 20%;
    span {
      font-family: Arial;
      color: #544e4d;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: -0.16px;
      line-height: 20px;

    }
    ul {
      margin-top: 15px;
      list-style: none;
      a {
        font-family: Arial;
        color: #544e4d;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
      }
    }
  }
  .social {
    ul {
      display: block;
      li{
        float: left;
        a {
          display: block;
          height: 35px;
          width: 35px;
          border-radius: 50%;
          background-color: black;
          line-height: 40px;
          text-align: center;
          margin-right: 10px;
          i {
            color: white;
            font-size: 20px;
          }
        }
        }
      }
    }
  .image-secured {
    text-align: right;
    width: 10%;
  }
  .stores {
    width: 10%;
  }
  }
footer {
  background-color: black;
  height: 74px;
  .full-width {
    width: 100%;
    .main-width {
      width: 1000px;
      margin: 0 auto;
      .footer-left {
        float: left;
        height: 74px;
        line-height: 74px;
        //width: 48%;
        ul {
          list-style: none;
          li {
            float: left;
            margin-right: 10px;
            a {
              font-family: Arial;
              color: #8d8d8d;
              font-size: 11px;
              font-weight: 400;
              line-height: 20px;
              text-decoration: none;
              display: block;
              height: 74px;
              line-height: 74px;
            }
            & + a {
              border-left: 1px solid #8d8d8d;
            }
          }
        }
      }
      .footer-right {
        //width: 48%;
        height: 74px;
        //line-height: 74px;
        padding-top: 15px;
        text-align: right;
        span {
          font-family: Arial;
          color: #8d8d8d;
          font-size: 11px;
          font-weight: 400;
          line-height: 18px;
          text-align: right;
        }
      }
    }
  }
}


